{% extends 'base.html' %}

{% block title %}Изменение описания товара{% endblock %}

{% block div %}
    width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
{% endblock %}

{% block style %}
    .return {
        display: inline-block;
        padding: 1px 10px;
        text-decoration: none;
        border-radius: 10px;
        border: solid 1px black;
        background: yellow;
    }
    button.edit {
        background: grey;
    }
{% endblock %}

{% block body %}
    <h3>{{ product.title }}</h3>

    <form method="post">
        <p>
            <textarea rows="5" cols="50" name="description">{{ product.description }}</textarea>
            <button class="edit" type="submit">Редактировать</button>
        </p>
    </form>

    <a href="{{ url_for('admin_products') }}" class="return">Назад</a><br>
    <a href="{{ url_for('index') }}" class="return">На главную страницу</a>
{% endblock %}